.Category-title {
    color: var(--theme-body-txt);
    font-weight: bold;
}

.Category-list {
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Category-link {
    color: var(--theme-body-txt);
    font-size: 1em;
    padding: .5em;
    transition: color ease-in .1s;
    text-transform: capitalize;
}

.Category-link:hover {
    color: #8c55a2;
}

@media screen and (min-width: 640px) {
    .Category-list {
        display: list-item;
    }
}